<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Occurence frequency:</strong>
  <%= @event.occurence_frequency %>
</p>

<p>
  <strong>Delivery date:</strong>
  <% @event.delivery_dates.each do |delivery| %>
  	<%= delivery.delivery.strftime("%m/%d/%Y") %>
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
